/**
 * Note that these styles are loaded *after* common styles, so that
 * editor-specific styles using the same selectors will take precedence.
 *
 * hey where do these names come from? Is there a naming convention?
 * oh yes, look it's here: http://gutenberg-devdoc.surge.sh/blocks/applying-styles-with-stylesheets/
 */

.wp-block-gutenbergerli-faq h4 {

}

/* red arrow whoo! */
.wp-block-gutenbergerli-faq .arrow {
	float: left;
	color: #ff0000;
}

.wp-block-gutenbergerli-faq .answer, .wp-block-gutenbergerli-faq .helpfulness {
	display: block;
}
