
/* naming convention here: http://gutenberg-devdoc.surge.sh/blocks/applying-styles-with-stylesheets/ */

.wp-block-gutenbergerli-faq {
	max-width: 700px;
	margin: 1.2em auto;
	background: #F2F2F2;
	padding: 1em;
}

/* make the cursor a pointer so it's more obvious that you need to click on it to see the answer */
.wp-block-gutenbergerli-faq .question{
	cursor: pointer;
}

.wp-block-gutenbergerli-faq .question h4{
	display: inline-block;
	padding: 0;
	margin: 0;
}

/* red arrow whoo! */
.wp-block-gutenbergerli-faq .arrow {
	float: left;
	margin: 0 10px 0 0;
	color: #ff0000;
	-webkit-transition: -webkit-transform .2s;
	transition: transform .2s;
}

.wp-block-gutenbergerli-faq .rotated { 
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transition: -webkit-transform .2s;
	transition: transform .2s;
}

.wp-block-gutenbergerli-faq p{
	margin: 0 auto;
}

.wp-block-gutenbergerli-faq .helpfulness{
	padding: 10px;
	font-size: 85%;
	margin: 2px 2px 5px 2px;
	background: #FFFFFF;
	display: none;
}

.wp-block-gutenbergerli-faq .wasitquestion{
	float: left;
}

.wp-block-gutenbergerli-faq .answer{
	display: none;
	margin-left: 20px;
}

.wp-block-gutenbergerli-faq .answer p {
	margin: 0 0 0.5em 0;
}

.wp-block-gutenbergerli-faq .wasit a {
	box-shadow:	0 0 1px #999;
	background: #f7f7f7;
	padding: 2px 5px; 
	margin: 0 0.25em 0 2em;
	cursor: pointer;
}

.wp-block-gutenbergerli-faq .wasit a:hover{
	box-shadow:	0 0 1px #333;
	background: #999999;
}

.wp-block-gutenbergerli-faq .wasit a:active{
	box-shadow:	0 0 1px #000;
	background: #333333;
}

.wp-block-gutenbergerli-faq .wasit .number-no, .wp-block-gutenbergerli-faq .wasit .number-yes{
	font-size: 90%;
	color: #666;
}

.wp-block-gutenbergerli-faq .wasit a:hover .number-no, .wp-block-gutenbergerli-faq .wasit a:hover .number-yes{
	color: white;
}