
/* naming convention here: http://gutenberg-devdoc.surge.sh/blocks/applying-styles-with-stylesheets/ */

/* make the cursor a pointer so it's more obvious that you need to click on it to see the answer */
.wp-block-gutenbergerli-faq .question{
	cursor: pointer;
}

.wp-block-gutenbergerli-faq .question h4{
	display: inline-block;
	padding-top: 0;
}

/* red arrow whoo! */
.wp-block-gutenbergerli-faq .arrow {
	float: left;
	margin: 0 10px 0 0;
	color: #ff0000;
	-webkit-transition: -webkit-transform .2s;
	transition: transform .2s;
}

.rotated { 
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transition: -webkit-transform .2s;
	transition: transform .2s;
}

.wp-block-gutenbergerli-faq .answer{
	display: none;
	margin-left: 20px;
}
